.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.create{
    background: #ff4af0;
    color: aliceblue;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    border-style: none;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.create:hover{
     background: #b82fac;
}

.label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    font-size: 20px;
}
.input{
    min-width: 250px;
    min-height: 40px;
    border-radius: 10px;
    background: #fff1f8;
    
}


.adm-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.adm-panel__btn{
    background: #ff4af0;
    color: aliceblue;
     font-size: 108x;
    padding: 10px;
    border-radius: 5px;
}

.error-msg{
    margin-top: 0;
    color: red;
    font-size: 12px;
}