.control{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;         
    justify-content: center;       
   margin: 0 auto;             
}

button {
    border-radius: 50%;
    background: #ebebeb;
    border: solid 1px #780091;
    width: 44px;                
    height: 44px;
    display: flex;              
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: all 0.3s ease;
    padding: 0;
    margin: 0;
    color: #780091;
    line-height: 10px;
}

.p {
    font-size: 20px;
    color: #780091;
    text-align: center;
}

button:hover {
    background: #bebebe;
    border: solid 1px #780091;
    /* transform: scale(1.1); */
    color: #780091;
}

button:focus{
    background: #f1f1f1;
    border-color: #780091;
    color: #616161;
}

button:disabled{
    border: #616161 solid 1px;
    background: #dadada;
    color: #616161;
}

button:hover:disabled{
     border: #616161 solid 1px;
    background: #dadada;
    color: #616161;
    transform: scale(1);
}

.vibor{
    display: flex;
    flex-direction: row;
    align-items: center;         
    justify-content: center;  
    gap: 30px;
    width: 400px;
    height: 200px;
    border: solid 3px rgb(227, 11, 255);
    border-radius: 5px;
    background:  rgb(240, 154, 252);
    color:  rgb(226, 7, 255);
}