/* *,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    min-width: 100%;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.root{
  width: 100%;
}

.header {
    background-color: rgb(241, 131, 255);
    padding: 20px;
    width: 100vw;
  
}
h1{
    text-align: center;
    color: #ffffff;
    font-size: 50px;
}

h2{
    text-align: center;
    color:rgb(241, 131, 255);
    font-size: 25px;
    margin: 20px;;
}

p{
  text-align: center;
    color:rgb(241, 131, 255);
    font-size: 25px;
    margin: 20px;;
} */
/* .card{
    position: relative;
    max-width: 300px;
    min-height: 300px;
    background-color:rgb(241, 131, 255);
    border: solid 5px  #780091;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    
}
.card-check{
  transform: rotateY(180deg);
}

.card::after{
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(data-back);
    background-color:  rgb(241, 131, 255);
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 10px;
} */

/* .control{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;         
    justify-content: center;       
   margin: 0 auto;             
}

button {
    border-radius: 50%;
    background: #ebebeb;
    border: solid 1px #780091;
    width: 44px;                
    height: 44px;
    display: flex;              
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: all 0.3s ease;
    padding: 0;
    margin: 0;
    color: #780091;
    line-height: 10px;
}

.p {
    font-size: 20px;
    color: #780091;
    text-align: center;
}

button:hover {
    background: #bebebe;
    border: solid 1px #780091;
    transform: scale(1.1);
    color: #780091;
}

button:focus{
    background: #f1f1f1;
    border-color: #780091;
    color: #616161;
} */

